<div class="card__actions">
    <form action="/attendance/checkin" method="GET">
        <button class="btn" <%= staffs.workStatus === null || staffs.workStatus === false ? "" : "disabled" %> >Điểm Danh</button>
    </form>
    <form action="/attendance/checkout" method="POST">
        <button class="btn" <%= staffs.workStatus ? "" : "disabled" %>> Kết thúc làm</button>
    </form>
    <form action="/attendance/leave" method="GET">
        <button class="btn" type="submit">Nghỉ phép</button>
    </form>
</div>