<%- include('./includes/head.ejs') %>
    <style>
        .home {
            margin: auto;
            max-width: 600px;
            text-align: center;
            color: rgb(40, 207, 35);
        }
        img {
            width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main>
        <div class="home">
            <article>
                <h4>Chúc bạn một ngày tốt lành và làm việc thật hiệu quả!</h4>
                <img src="./images/featured-img.jpg" alt="featured image">
            </article>
        </div>
    </main>
<%- include('./includes/end.ejs') %>